[submodule "submodules/FP51_OCD"]
	path = submodules/FP51_OCD
	url = https://github.com/PulseRain/FP51_OCD.git
[submodule "submodules/M10_config_MCU"]
	path = submodules/M10_config_MCU
	url = https://github.com/PulseRain/PulseRain_FP51_MCU.git
[submodule "submodules/PulseRain_rtl_lib"]
	path = submodules/PulseRain_rtl_lib
	url = https://github.com/PulseRain/PulseRain_rtl_lib.git
